form {
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
  height: 100vh;
}

fieldset {
  width: 400px;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#name{
  font-size: large;
  text-align: center;
}
#value{
  background-color: blue;
  color: white;
  font-size: medium;
  border-radius: 5px;
}
#roll, #marks, #batch{
  font-size: medium;
}