.nav {
    width: 100%;
    height: 100px;          
    background-color: #1F1F1F;
    display: flex;
    align-items: center;      
            
}
#image {
    height: 70px;     
    width:180px;
    margin-left: 20px;
}
#heading2{
    color:#61DBFB;
}
