body{
    margin: 0;
    padding:1px;
    background-color: #32353a;
    height: 700px;

}
#heading1{
    color:white;
    padding-top: 20px;
}
.list{
    color:white;
    list-style-color:white;
}
.other {
  margin-left: 40px;
}

.list li::marker {
color:#61DBFB;
font-size: 20px; 
}

